<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="authenticationService.isAuthenticated">

  <a class="navbar-brand" routerLink="/home" >INDIAN AIRLINES </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
      aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/schedule" *ngIf = "roleaurthservice.role_admin">Airline schedule</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/manageAirline" *ngIf = "roleaurthservice.role_admin">Manage_Airline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manageDiscount"*ngIf = "roleaurthservice.role_admin">Manage_Discount</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/activateairline" *ngIf = "roleaurthservice.role_admin">Activate Flight</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/searchbookflight" *ngIf = "!roleaurthservice.role_admin">Book Ticket</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cancelFlight" *ngIf = "!roleaurthservice.role_admin">Cancel Ticket</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/history" *ngIf = "!roleaurthservice.role_admin">User History</a>
        </li>

 
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item pointer">
              <a class="nav-link" (click)="logout()">Logout</a>
          </li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>