<h4>Manage Airline</h4>
<style>
    .big {
  line-height: 1.8;
}
</style>

<body ng-app >
    <button type="button" class="btn btn-warning float-right" (click) = "onClickForm()" *ngIf="!showForm" > show Add new airline
    </button>        
    <form class="form-signin big" (ngSubmit)="onSubmit(signInForm)"  #signInForm="ngForm" *ngIf="showForm">
        
        <label for="inputlogin" class="sr-only">AirlineIDCompany: </label>
        <input type="text" id="inputLogin"  name="AirlineIDCompany" placeholder="ex:spiceJet etc" ngModel
            required autofocus>
            
<div></div>

            <label for="inputlogin" class="sr-only">AirlineCode  :</label>
            <input type="text" id="inputLogin"   name="AirlineCode" placeholder="AirlineCode" ngModel
                required autofocus>
                <div></div>

                <label for="inputlogin" class="sr-only">AirlineType  : </label>
                <input type="text" id="inputLogin"  name="AirlineType" placeholder="AirlineType" ngModel
                    required autofocus>
                    <div></div>

                    <label for="inputlogin" class="sr-only">AirplanBusFare : </label>
                    <input type="number" id="inputLogin"  name="AirplanBusFare" placeholder="Bus class amount" ngModel
                        required autofocus>
                        <div></div>

                    <label for="inputlogin" class="sr-only">AirplanECOFare :</label>
                    <input type="number" id="inputLogin"  name="AirplanECOFare" placeholder="ECO class amount" ngModel
                        required autofocus>
                        <div></div>

                        <label for="inputlogin" class="sr-only">Total seat : </label>
                        <input type="number" id="inputLogin"  name="MaxSeat" placeholder="total seat" ngModel
                            required autofocus>
                            <div></div>
                    

        <button class="btn btn-primary " type="submit">Add airline</button>

       <button type="button" class="btn btn-warning float-right" (click) = "onClickbuttinForm()" *ngIf="showForm" >Hide Add Airline
    </button> 
    </form>  
 </body>









<div>

<button type="button" class="btn btn-warning float-right" (click) = "refresh()">Refresh</button>

</div>


<body>
    
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Airline ID</th>
            <th>AirlineIDCompany</th>
            <th>AirlineCode</th>
            <th>AirplanType</th>
            <th>AirplanBusFare</th>
            <th>AirplanECOFare</th>
            <th>MaxSeat</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let outresultrow of outresult">
            <td>{{ outresultrow.airlineID }}</td>
            <td>{{ outresultrow.airlineIDCompany }}</td>
            <td>{{ outresultrow.airlineCode }}</td>
            <td>{{ outresultrow.airplanType }}</td>
            <td>{{ outresultrow.airplanBusFare }}</td>
            <td>{{ outresultrow.airplanECOFare }}</td>
            <td>{{ outresultrow.maxSeat }}</td>
            <td><button type="button" class="btn btn-warning float-right" (click) = "onClickCancelairline(outresultrow)">Stop Airline Service</button></td>
          </tr>
    </tbody>
</table>


</body>
